 

@font-face {
        font-family: "Raleway";
        src: url("polices/Raleway-VariableFont_wght.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

/*************************************************************************/
/***************************   smartPhone  ********************************/
/*************************************************************************/
@media screen and (max-width : 749px){
                        /***** mon breakPoint smartPhone= 749px (vs 767)*****/

    .vewport{
        width:414px;
    }    
    body{       
       background-color: white;
        width: auto;
    }    
    
    /*********** smart header *******************/
    header{        
        width:100%; 
        margin-bottom: 40px; 
    }

    /*************** Div headerFirst *********/ 
    .headerFirst{
        width:100%;
        margin :30px 0 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display:block;
        margin-left: 20px;
    }
    .mobileInscription{
            display:block;           
            font-size: large;
            font-weight: bold;                  
            color: #0065fc;
            text-decoration: none;
            width:40%;
            text-align: center;                   
    } 
    .headerFirst a:hover{
        border-bottom: 2px solid #0065fc; 
        padding: 5px 0 5px 0;   
    }
    .headerFirst :visited{ 
        color:black;
    } 
   
    /***************fin Div headerFirst *********/ 
       
    /******** smart Nav limitée ************************/
    nav{
        width:100%;
        display: block;
        font-size: large; 
        font-weight: bold;
        margin: auto;        
    }
    nav ul{
        width:100%;
        margin:0;
        padding:0;
    }  
     /*** mettre en 'off' partie de la nav****/    
    .inscription{
        display:none; 
    }
   
    /******  changement border et margin  ******/
     
    .ancreH, .ancreA{
        display:block;
        width:50%;
    }
    nav ul li a{
        display:block;
        text-align:center;
    }

    .ancreH :hover,.ancreA :hover{
        border-top: none;
        border-bottom: 2px solid #0065fc; 
        padding: 5px 0 5px 0;                                
    }

    /*********** smart recherche   *******************************/
    #recherche{
        flex-direction: column;
        align-items: flex-start;
        font-size: x-large;       
        width:100%;    
    }

        /******  changement text en image *****/
    .zoneRecherche input[type="submit"] {
        font-size: 0px;
        width: 60px;
        color: #0065fc;
        background-image: url(images/icones/search-solid-W.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        margin-left: -15px;
    }   
    .zoneRecherche {
        width: 100% ;
        margin:0 auto;
    }
    .zoneRecherche input{
        font-size: x-large;
        padding-right: 4em;
        border-radius: 8px 0 0 8px;

    }  
    #Recherche h2 {
        font-size:x-large;
        margin-left: 20px;
    }

    #Recherche p {
        font-size: large;
        margin: 0 0 50px 20px;
    }
     
   
    /************* smart Filtres ****************/
    #Filtres{
      width: 100%;
      flex-wrap: wrap;
      font-size: large;  
    }
    #Filtres h3{   
       margin: 30px 0 0 25px;
       font-size: x-large;  
       font-weight: bolder;       
    }

    #Filtres ul{
        padding: 0px;     
    }
    #Filtres li{
        margin:0 10px;
    }
    #Filtres ul a{
        font-size:large;
        margin: 0 15px 0 10px;
        font-weight: bolder;    
    } 
    #Filtres img{
        width: 20px !important;        
    }
    #Filtres .imgFiltresMoney{
        height:40px;
       padding: 5px 15px;       
    }
    #Filtres .imgFiltresHomme{
        height:20px;
        padding: 15px 15px;
    }

    .icoInfo{
        width: 20px !important;
        height:15px !important;
        align-self: flex-start;
        margin-left:20px !important;        
    }


    /************  smart Logements *****************************/
    #Logements{
        width:100%;
       
    }    

    /******* smart Pop ***************************/
    #Logements aside{
        width:100%;
        border-radius: 0;            
    }  
   
    #Logements aside h2{
        margin-left: 20px;
        font-size: x-large;  
    }   
    #Logements aside .listeArticlesPop ul{
        padding:0;      
        justify-content: left;
    }
   
    #Logements aside .listeArticlesPop article{
        width:95%;
        height: 10em;
        justify-content: space-around;
        line-height: 1em;  
    }
        
    #Logements aside .listeArticlesPop article .imgPop{
        width: 40%;
        height: 9em;
        margin-left: 20px;  
    }
    .description{
        width:60%;                
    }

    .description h3 {
        font-size: large;
        margin-left: 10px;        
        font-weight: bold;
    }  
    .description p{
        font-size: 90%;
        margin-left: 10px;       
    }

    .description .IconeStarBar{
        width: 6rem;
        max-height: 20px;
        height: 2em;        
        background-color: inherit;
    } 



    /****** smart Hbgt (main) ******/
    
    #Logements main  {
        width:100%;
        border-radius: 0;      
        flex-wrap: nowrap;
        padding-left:0;
        background-color: white;            
    }
    #Logements main h2{
        margin-left: 15px;
        font-size: x-large;
        font-weight: bold;  
    } 
    #Logements main  h3{
        margin-left:10px;
        font-size: large; 
        line-height: 1em; 
        font-weight: bold;  
    }
    #Logements main .IconeStarBar{
        width: 6rem;
        max-height: 25px;
        height: 1.5em;
        margin-left:10px;       
    }    
   #Logements main ul{ 
       margin:0 auto;
       padding:0;
    }
    #Logements main li {
       width:100%;
        justify-content: center;
    }
    #Logements main article{
        width:100%; 
    }
    #Logements main article p, #Logements main article h3 {
        font-size: large; 
        line-height: 0.5em;       
    }
    #Logements main li .imgHebergement{
        width:100%;    
       height: 8em;
    }
    


  
   
    /****** smart Activités ******************/
    #Activites{
       width:100%;       
    } 
    #Activites h2{
        font-size:x-large;
    }   
    #Activites h3{
        font-size:large;
    }    
    .boiteImgActivites article {
       width: 100% ;       
       margin:0.5em auto;
       border-radius: 10px 10px;
    }
    .boitePetitesImgAct {
        width: 100% ;
        margin: 0 0em 0.5em -.1em;
        border-radius: 10px 10px;
    }
    .boitePetitesImgAct img{
        width:100%;
    }
    #Activites img{
        width: 100% ;
        height:12em;
        margin: 0; 
    }

    /*******  smart footer ************/
    footer{
        width:100%;
        flex-direction: column; 
    }
    footer ul{
        padding:20px;
    }
    footer h2, footer h3{
        font-size:x-large;        
        margin-left: 20px !important; 
    }
} /******* fin partie smartPhone *****************/


/************ limitation impact modif smart header sur autres config  *************/
@media screen and (min-width : 750px) {
    .mobileInscription{
        display:none;
    }
}


/***************************************************/
/****************** tablette **********************/
/**************************************************/
@media screen and (min-width : 750px) and (max-width : 1303px){
                /**** mon breakPoint tablette min-width: 750px (vs 768) ////max-width: 1303px (vs 1024)*****/         

    .vewport{
        width: 750px;
    }    
    body{
        background-color:#f2f2f2
    }
    /************   nav ***********/
    .logo{
        margin:auto;
    }
    header nav {
       font-size: large;
       font-weight: bold;
       margin-right: 50px;
    }
   
    /************** tablette Recherche   *************/
    .zoneRecherche {
        width: 100% !important;
    }
    .zoneRecherche input{
        font-size: larger;
        padding-right: 6em; 
    }

    #Recherche h2 {
        font-size: x-large;
        justify-content: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #f2f2f2;
    }
    #Recherche p {
        font-size: large;
    }
    #Recherche .zoneRecherche{
        width: 75%;
        justify-content: center;
    }   

    /************* tablette Filtres ****************/
    #Filtres ul {
        width:100%;
        justify-content: center;      
    }
    #Filtres ul a{
        font-size:large;        
    }
    #Filtres h3{   
        display: none;    
    }
    .infoFiltres{
       display: none !important;
    }
    /*********  Logements   **********/
    #Logements{
        flex-wrap: wrap;
    }
        

    /******* tablette Pop (aside)***************/
    #Logements aside{
        width: 100%;
        border-radius: 0;
    }  
    #Logements aside h2,#Logements aside h3,#Logements aside p{
        margin-left: 50px;
        font-size:x-large;
    }   
    #Logements aside .listeArticlesPop article .description img{
        width:6em;
        max-height: 30px;
        height:2em; 
        margin: 0 2em; 
    }
    #Logements aside .listeArticlesPop article{
        width:90%;
        height: 15em;
        margin-left: 0px;     
    }
    #Logements aside .listeArticlesPop article .imgPop{
        width: 60%;
        height: 14em;  
    }
    #Logements aside .listeArticlesPop article .description{
        width:40%;       
        font-size: 20px;
        align-content: stretch;
    }

    /****** tablette Hbgt *****************/
    #Logements main  {
        width:100% ;      
        border-radius: 0; 
        justify-content: space-between;
    }
    #Logements main h2{
        margin-left:50px;
        font-size: x-large;
    }
    #Logements main h3, #Logements main p{
        font-size: large;
    }

    #Logements main .IconeStarBar{
        width:6em;
        max-height: 30px;
        height:1.5em;       
       margin-bottom: 10px;       
    }  
    #Logements main ul > li{ 
        width:45%; 
        padding:0;
        align-content: stretch;
    }
    #Logements main li .imgHebergement{
    width:95%;      
    height: 10em;
    }

    /****** tabletteActivités ******************/
    #Activites{
        width:100%;  
    }
    #Activites h2{
        margin-left: 50px;
        font-size: x-large;
    }
    #Activites h3{
        font-size: large;
    }
    .boiteImgActivites article {
        width: 45% ;       
        justify-content: space-around;
        border-radius: 10px 10px;   
        margin: 10px auto;
    }
    .boitePetitesImgAct{
        width: 45% ;
        border-radius: 10px 10px;
    }
    .boitePetitesImgAct article{
        width:90%; 
    }
    .boitePetitesImgAct img, .grandePhotoAct img{
        width:90%;    
    }

    /*******  tablette footer ************/
    footer{    
        width: 100%;
        justify-content: space-between;        
    }
    #A_Propos, #Nos_hebergements{
        margin-right: 1px !important;   
    }
    #Assistance{
        margin-right: 20px !important;   
    }
}
   /******* fin partie tablette *****************/











/******************************************/
/*taille maquette fournie 1440px  Desktop  ************************************/
/*******************************************/
body{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Raleway";   
}
   

        /**************************************************/
    h2{ font-size: 18px; margin-left: 10px; color:black;  font-weight: bold;}
    h3{ font-size: 14px;margin-left: 10px;color:black; font-weight: bold;}
    p{font-size: 10px;margin-left: 10px;color:black;}


    header{      
        display:flex; 
        justify-content: space-between;         
        flex-wrap: wrap;
    } 

        .logo{
            max-width:110px;
            margin-left:10px;
        }

        nav ul{ 
            display: flex;                  
            list-style-type: none;  
            
        }
    

        nav ul li{
            margin: 0 15px;
            
        }
        
        nav a{                      
            color: #0065fc;
            text-decoration: none;             
            padding : 10px 0 0 ; 
            display: flex;
            
            
        }

        nav a:hover{
            border-top: 1px solid #0065fc;
            padding : 9px 0 0; 
            color:#0065fc;

        }
        nav a:visited {
            color:black;
        }
       
   
    /**************************************************/


    #Recherche {
            margin:10px 0 10px 0;
    }

    #Recherche h2{
        display:flex;
        flex-wrap: wrap;
    }
        /** boite recherche *****/
        .zoneRecherche{
            display:flex;
            width: 425px;
            height: 50px;
            margin-left:10px;
            justify-content: flex-start;
            align-content: center;  
        }   
        .icoMap{
            width:20px;
            background-color: #f2f2f2;
            border-radius: 20px 0 0 20px;
            padding: 10px 15px; 
            align-content: center;
        }
        
        #Recherche img{
            width: 15px;           
        }

        input[type=submit] {
            width:100px;
            color: white;
            border-radius: 0 20px 20px 0;
            border: 0;
            cursor:pointer;
            background-color: #0065fc;
        }
        input::placeholder {
            color:black;
            font-weight: bold;
        }
        input[type=text]{
            padding-left: 10px;
            border: 1px solid #f2f2f2;
            width:200px; 
            height: 46px;
            font-weight: bold;                                   
        }

        /***** Filtres ****************/

    #Filtres { 
            width: 100%;               
            display:flex; 
            align-items:center;           
   
    } 
    .infoFiltres{
        display:flex;
        align-items: center;
        
    }
    .icoInfo{
        height: 10px;
        color:#0065fc;
        border:1px solid #f2f2f2;
        padding: 5px 2px 5px 2px;
        border-radius: 50%;
        margin: 0 10px 0 10px;
        
    }     

        #Filtres ul{
            display: flex;
            flex-wrap: wrap;  
                      
        }

        #Filtres li{ /*** boite icones et text ***/
            height: 46px;
            border: 2px solid #f2f2f2;
            border-radius: 50px;
            display:flex;
            justify-items: stretch;
            align-items: center; 
            margin: 20px;  
            list-style-type: none; 
            white-space:nowrap;
              
           
        }
        
        .imgFiltres{
         
           width: 20px;
           background-color: #deebff;
           border-radius: 50%;            
           padding: 1rem;      
        }
        .imgFiltresHomme{
           width: 20px;
           background-color: #deebff;
           border-radius: 50%;
           padding:.8rem 1rem; 
        }
        .imgFiltresMoney{
            width: 20px;
            background-color: #deebff;
            border-radius: 50%;
            padding: 1.1rem 1rem; 
        }
        
        #Filtres a{
           
            font-size: 14px;
            color:black;
            text-decoration: none;
            margin: 0 30px 0 20px;
            font-weight: bold; 
        }
        #Filtres a:hover{
            color: #0065fc;
                         
        }
     
    /***Div Logements avec main et aside***********************************************/
    #Logements{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            margin:10px;    
    }
  
    #Logements a:hover{
        background-color: white;  
       
    } 
    /**********  Main   *****************/
    #hebergements {
       
        width: 66%;
        background-color: #f2f2f2;
        border-radius: 15px; 
    }
        #hebergements h2{
        margin-left: 60px;            
        }  
        #Logements main .Aplus{
            text-align:left;
            font-weight: bold;
           
        }  
        .imgHebergement{            
            width: 235px;
            height:112px;           
            display: flex;
            align-self: auto; 
            list-style: none;        
            margin:5px;
            border-radius: 15px 15px 0 0;
            object-fit:cover;  
        }
    

        #hebergements ul{           
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-around;
            padding: 0px;
        }   

        #hebergements li{            
            display: flex;
            background-color: white;
            border-radius: 15px;
            margin: 10px;            
            flex-wrap: wrap; 
        } 
        #hebergements a{
            text-decoration: none; 
        }
        
        /****** icones groupees starBar ****/              
        .IconeStarBar{
            max-width: 150px;
            max-height: 15px;
            display: flex;
            align-content: flex-end;
            margin-left: 5px;            
        }    
          
        /***************  aside  ***********************************/

    #Populaires { 
        
        width: 31%;
        background-color: #f2f2f2;       
        border-radius: 15px; 
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        align-self: center;                    
    }
    #Populaires h2{
        margin-left:50px;
    }
                   
        .imgGraph{            
           max-width: 20px;
           margin-right: 20px;                                  
        }
        /***class liste article***/
        .listeArticlesPop ul{       
           list-style: none;           
           width: auto;                   
        }
        .listeArticlesPop li{       
            width: auto;  
        }
        
        .listeArticlesPop a{
            text-decoration: none;            
        }   
        /******* photos ********************/
        
        .listeArticlesPop article {
            width:22em;           
            border-radius: 15px;
            margin: 10px;
            background-color: white; 
            display:flex;                                        
        }  

        .listeArticlesPop .imgPop {            
            width: 8em;
            height: 8em;
            display: flex;
            align-self: center;
            margin-left: 5px;                
            border-radius: 15px 0 0 15px;
            object-fit:cover;                         
        }
             
        .description{
            margin: 10px;                                                                 
        }
        .description .IconeStarBar{
            margin-top: 40px;
        }

       
       /*******************  Bloc Activités ****************************/
     
    #Activites {  
        margin:10px;             
    }
    
    /*** bloc cliquable ************/
    #Activites a{
        text-decoration: none; 
    }
    #Activites a:hover{     
        background-color: white      
   }
    /*** bloc cliquable ************/

    .boiteImgActivites {
        
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;  
    }

    .imgAct1{
        width: 300px;
        height:390px;
        object-fit:cover;      
        border-radius: 15px 15px 0 0;        
    }
    .imgAct2{
        width: 300px;
        max-height: 155px;
        object-fit:cover;       
        border-radius: 15px 15px 0 0;  
    }
    .imgAct2-2{
        width: 300px;
        height: 175px;
        object-fit:cover;       
        border-radius: 15px 15px 0 0;  
    }
    .imgAct2-3{
        width: 300px;
        height: 115px;
        object-fit:cover;       
        border-radius: 15px 15px 0 0;  
    }
    .imgAct4-1{
        width: 300px;
        height: 135px;
        object-fit:cover;       
        border-radius: 15px 15px 0 0;  
    }
    .imgAct4-2{
        width: 300px;
        height: 155px;
        object-fit:cover;       
        border-radius: 15px 15px 0 0;  
    }

    .boitePetitesImgAct{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


         /********************* Pied de page *****************************/

    footer {
        
        background-color:#f2f2f2;
        display:flex;
        flex-wrap: wrap;
    } 
    
    #A_Propos{        
       
        margin-right: 170px;
    }   
    
    #Nos_hebergements{    
        margin-right:230px;
        
    }

    footer h2{      
        margin-left: 45px;
    }  
    
    footer ul{ 
        list-style-type: none;         
    }

    footer li{
        display: flex;       
    }

    footer a{                      
        color: black;
        text-decoration: none;
        justify-content: flex-start;
        padding-bottom: 10px;

    }


